### PART ###
## Plantilla de ejemplo. Sustituir los valores de red antes de usar.
discovery.beacon.status=enabled
discovery.cdp.status=disabled
discovery.lldp.status=enabled
discovery.status=enabled
gui.language=sp_SP
httpd.https.port=443
httpd.https.status=enabled
httpd.status=enabled
httpd.port=80
users.status=enabled
users.1.name=ubnt
users.1.status=enabled
wireless.status=enabled
wireless.1.ssid=EJEMPLO_SSID
wireless.1.status=enabled
sshd.status=enabled
sshd.auth.passwd=enabled
sshd.port=22
netconf.2.ip=192.168.1.1
netconf.2.netmask=255.255.255.0
dhcpd.1.start=192.168.1.10
dhcpd.1.end=192.168.1.254
dhcpd.1.netmask=255.255.255.0
### FIN DE PLANTILLA ###
